/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: #f6efe5;
}

body {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  body {
    background: #f15a30;
  }
}

section.intro {
  color: #fff;
  background: #c879b2;
  margin: 0;
  min-height: 1000px;
  width: 100%;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  section.intro {
    height: 100%;
  }
}

section.intro header {
  width: 40%;
  font-weight: bold;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  section.intro header {
    width: 100%;
  }
}

section.intro header h1 {
  transform: rotate(270deg);
  transform-origin: right top 0;
  position: absolute;
  top: 40px;
  left: -80px;
}

section.intro header h2 {
  float: left;
  width: 50%;
  height: 800px;
  margin: 0 0 0 50%;
  padding: 250px 0 0 0;
  font-size: 2.5em;
  vertical-align: middle;
  background: #0d2c40 url(../images/icon-star.svg) no-repeat left bottom;
  background-size: 100%;
  background-origin: border-box;
  box-sizing: border-box;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  section.intro header h2 {
    width: 66.67%;
    height: 100%;
    margin: 0 0 0 33.33%;
    padding: 50px 0 400px 2%;
    background-size: 50%;
  }
}

section.intro div.summary {
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  height: 800px;
  float: left;
  background: transparent url(../images/icons-3-pack.svg) no-repeat 0% 100%;
  background-size: 100%;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  section.intro div.summary {
    width: 65%;
    height: 460px;
    padding: 20px 0 20px 35%;
    background-color: #c879b2;
    line-height: 1.5em;
  }
}

section.intro div.summary p:first-child {
  padding: 250px 0 0 5%;
}

section.intro div.summary p {
  line-height: 1.5em;
  width: 61.67%;
  padding: 15px 0 0 5%;
}

section.intro div.summary p a {
  color: #fff;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  section.intro div.summary p:first-child {
    padding: 10px 0;
  }
  section.intro div.summary p {
    padding: 10px 0;
    width: 100%;
  }
  section.intro div.summary p a {
    color: #fff;
  }
}

section.intro div.preamble {
  float: left;
  width: 100%;
  background: #f6efe5;
  color: #fff;
}

section.intro div.preamble h3, section.intro div.preamble p {
  float: left;
  color: #0d2c45;
}

section.intro div.preamble h3 {
  margin: 150px 40% 20px 20%;
  font-size: 1.5em;
  width: 40%;
}

section.intro div.preamble p {
  margin: 0 1% 20px 20%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  width: 39%;
}

section.intro div.preamble p:last-child {
  color: #fff;
  background: rgba(58, 194, 216, 0.9);
  padding: 0 1% 300px;
  margin: 0 0 -150px 60%;
  width: 18%;
  float: none;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  section.intro div.preamble h3 {
    margin: 0;
    padding: 35px 0 25px 2%;
    width: 62.66%;
  }
  section.intro div.preamble p {
    margin: 0;
    padding: 5px 2%;
    width: 62.66%;
  }
  section.intro div.preamble p:last-child {
    background: rgba(240, 91, 50, 0.9);
    margin: 0 0 -110px 66.66%;
    padding: 80px 0 200px 2%;
    width: 31.34%;
  }
}

div.main {
  clear: both;
  position: relative;
  background: #f6efe5 url(../images/mid-century-1.jpg) no-repeat 0 0;
  background-size: 100% 40%, cover;
  height: auto;
  padding: 10px 0 0 0;
}

div.main div.explanation {
  color: #fff;
  background: #0d2c40 url(../images/icon-half.svg) no-repeat 100% 50%;
  background-size: 40%;
  padding: 3% 0;
  margin: 15% 60% 0 0;
  vertical-align: middle;
  position: relative;
  float: none;
  z-index: 5;
  width: 40%;
}

div.main div.explanation h3 {
  transform: rotate(270deg);
  transform-origin: 0 0;
  font-size: 1.5em;
  position: absolute;
  top: 55%;
  left: 2%;
}

div.main div.explanation p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0 25% 0 80px;
  padding: 10px 0 10px;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  div.main div.explanation {
    width: 66.66%;
    padding: 76px 0;
    margin: 200px 33.34% 200px 0;
  }
}

div.main div.participation {
  float: left;
  color: #0d2c40;
  background: #f6efe5;
  width: 40%;
  padding: 0;
  margin: 10% 0 0 20%;
  position: absolute;
}

div.main div.participation h3 {
  font-size: 2em;
  padding: 30px 15px;
}

div.main div.participation p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  padding: 10px 20px 10px 15px;
}

div.main div.participation p a {
  color: #0d2c40;
  text-decoration: none;
  border-bottom: 1px solid #0d2c40;
  padding-bottom: 2px;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  div.main div.participation {
    width: 66.66%;
    padding: 0 0 300px 0;
  }
  div.main div.participation h3 {
    padding: 30px 0 30px 15px;
  }
}

div.main div.benefits {
  color: #0d2c40;
  background: rgba(49, 199, 222, 0.85) url(../images/icon-circles.svg) no-repeat 0% 0%;
  background-size: 100%;
  width: 20%;
  padding: 450px 0 500px 0;
  z-index: 1;
  margin: -110px -10px 0 60%;
}

div.main div.benefits h3 {
  font-size: 2em;
  padding: 0 0 20px 5px;
}

div.main div.benefits p {
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  div.main div.benefits {
    width: 33.34%;
    right: 0%;
    z-index: 2;
    margin: -100px 0 0 66.66%;
  }
  div.main div.benefits h3 {
    font-size: 2em;
    padding: 0 0 20px 5%;
  }
  div.main div.benefits p {
    padding: 10px 5% 10px 5%;
  }
}

div.main div.requirements::before {
  content: "";
  margin: 0 0 0 -120%;
  padding: 0 0 -10px 0;
  width: 120%;
  height: 680px;
  background: transparent url(../images/mid-century-2.jpg) no-repeat 0px;
  background-size: cover;
  display: block;
  float: left;
  z-index: 1;
  overflow: hidden;
}

div.main div.requirements {
  clear: both;
  color: #0d2c40;
  margin: -220px 0 0 0;
  padding: 0 0 0 40%;
  position: relative;
  z-index: 1;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

div.main div.requirements h3 {
  transform: rotate(270deg);
  transform-origin: 25% 320%;
  position: absolute;
  font-size: 3.5em;
  z-index: 5;
}

div.main div.requirements p {
  position: relative;
  float: none;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 5% 5%;
  margin: 0;
  z-index: 5;
}

div.main div.requirements p a {
  color: #0d2c40;
  text-decoration: none;
  border-bottom: 1px solid #0d2c40;
  padding-bottom: 2px;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  div.main div.requirements {
    padding: 0 0 0 25%;
  }
  div.main div.requirements p {
    background: #f6efe5;
    padding: 0 2% 2%;
  }
  div.main div.requirements p:last-child {
    padding: 0 2% 20% 2%;
  }
}

div.main footer {
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 32%;
  left: -70px;
  white-space: pre;
}

div.main footer a {
  text-decoration: none;
  color: black;
}

aside {
  width: 100%;
  color: #fff;
}

aside div.wrapper {
  background: #c879b2;
}

aside div.wrapper div.design-selection h3 {
  float: left;
  width: 18%;
  font-size: 2em;
  padding: 15em 0 20em 2%;
}

aside div.wrapper div.design-selection nav ul li {
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 19%;
  padding: 10em 0 5em 1%;
}

aside div.wrapper div.design-selection nav ul li:nth-child(even) {
  background: #f15a30;
}

aside div.wrapper div.design-selection nav ul li::before {
  font-size: 5em;
  font-weight: bold;
}

aside div.wrapper div.design-selection nav ul li:nth-child(1) {
  padding: 30em 0 5em 1%;
}

aside div.wrapper div.design-selection nav ul li:nth-child(1)::before {
  content: "1";
}

aside div.wrapper div.design-selection nav ul li:nth-child(2)::before {
  content: "2";
}

aside div.wrapper div.design-selection nav ul li:nth-child(3)::before {
  content: "3";
}

aside div.wrapper div.design-selection nav ul li:nth-child(4)::before {
  content: "4";
}

aside div.wrapper div.design-selection nav ul li:nth-child(5)::before {
  content: "5";
}

aside div.wrapper div.design-selection nav ul li:nth-child(6)::before {
  content: "6";
}

aside div.wrapper div.design-selection nav ul li:nth-child(7)::before {
  content: "7";
}

aside div.wrapper div.design-selection nav ul li:nth-child(8)::before {
  content: "8";
}

aside div.wrapper div.design-selection nav ul li:nth-child(1), aside div.wrapper div.design-selection nav ul li:nth-child(5) {
  background: #0d2c40;
}

aside div.wrapper div.design-selection nav ul li:nth-child(3), aside div.wrapper div.design-selection nav ul li:nth-child(7) {
  background: #31c5da;
}

aside div.wrapper div.design-selection nav ul li:nth-child(2), aside div.wrapper div.design-selection nav ul li:nth-child(3), aside div.wrapper div.design-selection nav ul li:nth-child(4) {
  margin-top: 20em;
}

aside div.wrapper div.design-selection nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1em 0;
}

aside div.wrapper div.design-selection nav ul li a:hover {
  color: #000;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  aside div.wrapper div.design-selection h3 {
    width: 30%;
    padding: 250px 0 20px 45%;
    height: 50px;
  }
  aside div.wrapper div.design-selection nav ul li {
    width: 23%;
    padding: 100px 0 100px 2%;
  }
  aside div.wrapper div.design-selection nav ul li:nth-child(1) {
    padding: 420px 0 100px 2%;
  }
}

aside div.wrapper div.design-archives, aside div.wrapper div.zen-resources {
  clear: left;
  background: #31c5da;
  width: 20%;
  margin: 0 20% 0 60%;
  padding: 10em 0 15em 0;
  position: relative;
}

aside div.wrapper div.design-archives h3, aside div.wrapper div.zen-resources h3 {
  font-size: 1.6em;
  transform: rotate(270deg);
  transform-origin: 10px 0;
  position: absolute;
  left: -20%;
}

aside div.wrapper div.design-archives li, aside div.wrapper div.zen-resources li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  padding: 2% 0 2% 5%;
}

aside div.wrapper div.design-archives li a, aside div.wrapper div.zen-resources li a {
  color: #0d2c40;
  text-decoration: none;
  border-bottom: 1px solid #0d2c40;
  padding-bottom: 2px;
}

@media screen and (max-width: 1080px) and (min-width: 681px) {
  aside div.wrapper div.design-archives, aside div.wrapper div.zen-resources {
    width: 25%;
    margin: 0 25% 0 50%;
  }
}

aside div.wrapper div.design-archives {
  padding: 10em 0 5em 0;
}

aside div.wrapper div.design-archives h3 {
  top: 80%;
}

aside div.wrapper div.zen-resources {
  background: #31c7de url(../images/icon-circles.svg) no-repeat 0% 100%;
  background-size: 100%;
  padding: 10em 0 25em 0;
}

aside div.wrapper div.zen-resources h3 {
  top: 40%;
}
